body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea, select {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: aliceblue;
    font-family: 宋体,微软雅黑,sans-serif;
    font-size: 16px;}
img{
    width: 100%;
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 60px;
    background: black;
}

.headerBox {
    width: 1200px;
    height: 100%;
    /*background: black;*/
    margin: 0 auto;
    /*font-size: 17px;*/
}

.headerBox h3 {
    /*width: 154px;*/
    height: 100%;
    text-align: center;
    line-height: 60px;
    color: white;
    margin-right: 75px;
    float: left;
}

.nav {
    /*width: 750px;*/
    height: 100%;
    /*background: black;*/
    text-align: center;
    line-height: 60px;
    color: white;
    float: left;
}
.nav li{
    float: left;
    margin-right: 36px;
}
.nav li a:hover{
    color: #00c1de;
    /*点击变色*/

}

.search {
    width: 40px;
    height: 100%;
    /*background: lightpink;*/
    margin: 0 auto ;
    float: left;
}
.box{
    width: 1200px;
    margin: 0 auto;
    /*min-height: 900px;*/
    margin-top: 20px;
    background: #c9dfff;
    /*overflow: hidden;*/


}
.backtu{
    width: 1200px;
    /*height: 100%;*/
    background: white;
    /*float: left;*/
    position: relative;
    float: left;
    overflow: hidden;
}


.backtu ul{
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
    /*float: left;*/
    overflow: hidden;
    display: block;
}
.backtu ul li {
    /*position: absolute;*/
    color: pink;
    height: 40px;
    /*text-align: center;*/
    font-size: 16px;
    margin-top: 5px;
    padding: 0 40px;
    overflow: hidden;
}
.title{
    height: 40px;
    border-bottom: 1px solid white;
    line-height: 41px;
     margin-left: 40px;
    /*padding: 10px;*/
    position: relative;
    color: #fca2a3;
}
.title::before{
    content:"" ;
    width: 84px;
    border-bottom: 1px solid red;
    padding-left: 20px;
    margin-top: 40px;
    /*padding: 10px;*/
    position: absolute;
    transition: transform 100ms linear ;
}
.title:hover::before{
    width: 110px;
}
.backtu ul span{
    position: relative;
    line-height: 40px;
    padding-right: 40px;
    color: #ff86e2;
    ;
}
.backtu ul span::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 40px;
    background: #352d1c;
    right: 18px;
}
.backtu i{
    position: relative;
    font-style:normal ;
}
.backtu i::before{
    content: '';
    height: 10px;
    width: 10px;
    border: 2px solid #d0d2d4;
    position: absolute;
    left: -26px;
    top: 4px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.backtu li:hover i::before{
    background: white;
}
/*.backtu ul span::before{*/
/*    position: absolute;*/
/*    content: '';*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background: #352d1c;*/
/*    right: 18px;*/
/*    border-radius: 50%;*/
/*}*/
.bottonkuang{
    width: 100%;
    margin-top: 20px;
    min-height: 100px;
    background: #90f5ff;
    float: left;
    overflow: hidden;
}
.bottonkuangin{
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    background: #c9dfff;
    float: left;
}
.bottonin{
    width: 1200px;
    margin:20px auto ;
    background: #c9dfff;
    min-height: 110px;
}
.bottoninleft{
    margin-left: 20px;
    width: 220px;
    height: 100px;
    background: #c9dfff;
    float: left;
}
.bottoninleft li {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background: #f3f3f3;
    float: left;
}
.bottonrigt{
    margin-left: 20px;
    width: 900px;
    min-height: 100px;
    background:#c9dfff;
    /*display: block;*/
    float: left;

}
.bottonrigt li{
    font-size:14px ;
    line-height: 1.5;
    color: #352d1c;
}