body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea, select {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: aliceblue;
    font-family: 宋体,微软雅黑,sans-serif;
    font-size: 16px;
}
img{
    width: 100%;
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 60px;
    background: black;
}

.headerBox {
    width: 1200px;
    height: 100%;
    /*background: black;*/
    margin: 0 auto;
    /*font-size: 17px;*/
}

.headerBox h3 {
    /*width: 154px;*/
    height: 100%;
    text-align: center;
    line-height: 60px;
    color: white;
    margin-right: 75px;
    float: left;
}

.nav {
    /*width: 750px;*/
    height: 100%;
    /*background: black;*/
    text-align: center;
    line-height: 60px;
    color: white;
    float: left;
}
.nav li{
    float: left;
    margin-right: 36px;
}
.nav li a:hover{
    color: #00c1de;
    /*点击变色*/

}

.search {
    width: 40px;
    height: 100%;
    /*background: lightpink;*/
    margin: 0 auto ;
    float: left;
}

.backgroundk{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.backgroundleft{
    width: 820px;
    min-height: 900px;
    overflow: hidden;
    background: url("../image/abbg.png") #c9dfff no-repeat right top ;
    padding: 20px 40px;
    float: left;
}
.backgroundright{
    width: 280px;
    margin-left: 20px;
    min-height: 900px;
    float: right;
    overflow: hidden;
    background: url("../image/abbg.png") #c9dfff no-repeat right bottom ;
    /*padding: 20px 40px;*/
}
.advshouw{
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;

}
.title{
    height: 40px;
    border-bottom: 1px solid white;
    line-height: 41px;
    /*padding: 10px;*/
    position: relative;
}
.title::before{
    content:"" ;
    width: 84px;
    border-bottom: 1px solid red;
    margin-top: 40px;
    /*padding: 10px;*/
    position: absolute;
    transition: transform 100ms linear ;
}
.title:hover::before{
    width: 110px;
}
.titleright{
    float: right;
}
.titleright  a:hover{
    color: black;
}
.why_tit{
    font-size: 22px;
    margin-top: 20px;

}
.bloginfo{
    overflow: hidden;
    display: block;
    margin-top: 20px;
}
.ava{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    float: left;
    /*position: relative;*/
}
.bloginfo  span { float: left;
    line-height: 32px;
    margin-left: 20px;
    color: #999999;

    /*display: inline;*/
    }
.simpleshow{
    color: #888888;
    border: 1px solid #f3f3f3 ;
    padding: 10px;
    margin: 10px auto;
    line-height: 23px;
    background: #f6f6f6;
}
.digtu{
    padding: 10px;
    margin: 20px auto;
    height: 1000px;
    overflow: hidden;
}
.rank{
    width: 280px;
    /*background: #fca2a3;*/
    /*margin-top: 18px;*/
    float: right;
    margin-bottom:10px ;

}
.ranknew{
    width: 100%;
    height: 100%;
    padding: 0 20px 0 0;
    margin-bottom: 20px;
    overflow: hidden;
    /*float: left;*/
    /*position: relative;*/
    /*background: #333333;*/
}
.ranknew li i{
    width: 24px;
    height: 24px;
    background: dimgray;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    position: relative;
    font-style: normal;
}
.ranknew li i::before{
    font-size: 15px;
    color: white;
    line-height: 24px;
    width: 24px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;

}
.ranknew li:first-child i::before{
    content:'1';
}
.ranknew li:nth-child(2) i::before{
    content:'2';
}
.ranknew li:nth-child(3) i::before{
    content: '3';
}
.ranknew li:nth-child(4) i::before{
    content: '4';
}
.ranknew li:nth-child(5) i::before{
    content: '5';
}
.ranknew li:nth-child(6) i::before{
    content: '6';
}
.ranknew li:nth-child(7) i::before{
    content: '7';
}
.ranknew li:first-child i ,.ranknew li:nth-child(2) i , .ranknew li:nth-child(3) i{
    background: orangered;
}
.ranknew .dan{
    margin-top: 10px;
    height: 38px;
    margin-top: 12px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    line-height: 38px;
    text-align: center;
    overflow: hidden;
    /*float: left;*/
}
.ranknew .two{
    margin-top: 10px;
    height: 38px;
    margin-top: 12px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background: #f3f3f3;
    line-height: 38px;
    text-align: center;
    overflow: hidden;
    /*float: left;*/
}
.ranknew a{
    font-size: 15px;
    color: black;
}
.webtuijian{
    width: 260px;
    /*min-height: 600px;*/
    margin: 10px;
    /*background: #fca2a3;*/
    /*margin-top: 20px;*/
    /*padding-right: 30px;*/
    /*padding-left: 20px;*/
    float: left;
    overflow:hidden;
}
.tuijianlist{
    width: 280px;
    /*min-height: 600px;*/
    /*background: #fca2a3;*/

}
.tuijianli{
    width: 260px;
    height: 68px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    /*margin-bottom: 20px;*/
    background: white;
    line-height: 34px;
    /*padding-top: 20px;*/
}
.tuijianli .tuijianpic{
    width: 70px;
    height: 67px;
    float: left;
    background: #00c1de;
}
.tuijianli .tuijiantit{
    margin-left: 10px;
    background: white;
    width: 180px;
    float: right;
    color: black;
}
.jianxi{
    height: 20px;
    width: 100%;
    background:aliceblue
;float: right;
}
.bottonkuang{
    width: 100%;
    margin-top: 20px;
    min-height: 100px;
    background: #90f5ff;
    float: left;
    overflow: hidden;
}
.bottonkuangin{
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    background: #c9dfff;
    float: left;
}
.bottonin{
    width: 1200px;
    margin:20px auto ;
    background:#c9dfff;
    min-height: 110px;
}
.bottoninleft{
    margin-left: 20px;
    width: 220px;
    height: 100px;
    background: #c9dfff;
    float: left;
}
.bottoninleft li {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background: #f3f3f3;
    float: left;

}
.bottonrigt{
    margin-left: 20px;
    width: 900px;
    min-height: 100px;
    background: #c9dfff;
    /*display: block;*/
    float: left;

}
.bottonrigt li{
    font-size:14px ;
    line-height: 1.5;
    color: #352d1c;
    margin-bottom: 10px;
}
.youlike{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 260px;
    min-height: 100px;
    /*background: #fca2a3;*/
}
.llinformtion{
    min-height: 100px;
    width: 100%;
    padding: 10px;
    /*background: #fca2a3;*/
    margin-right: 5px;
    overflow: hidden;
}
.llinformtion ul{
    margin-top: 15px;
    margin-right: 5px;
}
.llinformtion img{
    width: 260px;
}
.llinformtion ul li{
    margin-top: 15px;
    margin-right: 5px;
}
.cloud{
    width:240px ;
    margin-top:20px ;
    padding: 20px;
    overflow: hidden;
    min-height: 300px;

}
.cloud a{
    padding: 3px 10px;
    height: 24px;
    margin: 10px 5px 0 0 ;
    float: left;
    background: #e1ffb8;
    line-height: 24px;
    border-radius:3px;
}